# Configuration Mode => development, testing, staging, or production
CONFIG_MODE=your_mode

# POSTGRESQL_DATABASE_URI => 'postgresql+psycopg2://user:password@host:port/database'
DEVELOPMENT_DATABASE_URL=
TEST_DATABASE_URL=
STAGING_DATABASE_URL=
PRODUCTION_DATABASE_URL=

PORT=your_app_port

OPENAI_API_KEY=your_openai_api_key
REDIS_RATE_LIMITER_URI=your_redis_rate_limiter_uri